@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-grey: #1E1F1D;
    --light-grey: #ADADAD;
    --light2x-grey: #DBDBDB;
    --white: #E9E9E9;
}

*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--white);
    
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey);
}



/*HEADER*/
.header{
    width: 90%;
    height: 10vh;
    
    position: fixed;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Menu*/
.header__menu--list{
    display: flex;
    list-style: none;
}
.header__menu--items a{
    margin-right: 15px;
    
    color: var(--dark-grey);
    text-decoration: none;
}
/*Menu end*/
/*HEADER END*/



/*MAIN CONTAINER*/
.container{
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    width: 100%;
    height: 100vh;
}

/*First section*/
.container__section--first{
    background-image: url("img/moulin.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.section__first--masque{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.3);
}
.section__first--masque h1{
    font-size: 5vw;
    color: var(--white);
}
.section__first--masque p{
    font-size: 2.5vw;
    color: var(--white);
}
/*First section end*/


/*Second section*/
.container__section--second{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container__section--second > h2{
    width: 100%;
    
    text-align: center;
    font-weight: 400;
}

/*Lessons cards*/
.section__second--card-container{
    width: 100%;
    height: 60vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.cards{
    width: 20%;
    height: 60vh;
    
    display: flex;
    flex-direction: column;
    
    border: none;
    border-radius: 15px;
    background-color: var(--light-grey);
    box-shadow: -1px 4px 10px 5px rgba(0,0,0,0.37);
}

.cards-top{
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: center;
}
.cards-top > h3{
    margin-left: 2vw;
    font-weight: 300;
}

.cards-center{
    width: 100%;
    height: 40vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-bottom{
    width: 100%;
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-bottom button{
    width: 40%;
    height: 5vh;
    
    border: none;
    border-radius: 25px;
    background-color: var(--light2x-grey);
}
.cards-bottom button a{
    color: var(--dark-grey);
    text-decoration: none;
}
/*Lessons cards end*/
.section__second--all{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__second--all button{
    width: 10%;
    height: 5vh;
    
    border: none;
    border-radius: 25px;
    background-color: var(--light-grey);
}
.section__second--all button a{
    color: var(--dark-grey);
    text-decoration: none;
}
/*Second section end*/



/*Third section*/
.container__section--third button {
    padding: 5px;
    
    width: 75px;
    
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    
    color: white;
    
    outline: none;
    cursor: pointer;
}


#header{
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    
    color: #d36C6C;
    font-size: 26px;
}
#header button {
    background-color:#92a1d1;
}


#container{
    width: 770px;
}
#weekdays{
    width: 100%;
    display: flex;
    color: #247BA0;
}
#weekdays div{
    padding: 10px;
    width: 100px;
}
#calendar{
    margin: auto;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
}

.day{
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    
    width: 100px;
    height: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: white;
    box-shadow: 0px 0px 3px #CBD4C2;
    
    cursor: pointer;
}
.day:hover{
    background-color: #e8faed;
}
.day + #currentDay{
    background-color: #e8f4fa;
}



.event{
    padding: 3px;
    
    max-height: 55px;
    
    border-radius: 5px;
    background: #58bae4;
    
    font-size: 10px;
    color: white;
    
    overflow: hidden;
}
.padding{
    background-color: #FFFCFF !important;
    box-shadow: none !important;
    
    cursor: default !important;
}
#newEventModal, #deleteEventModal{
    padding: 25px;
    
    width: 350px;
    
    display: none;
    
    position: absolute;
    top: 100px;
    left: calc(50% - 175px);
    z-index: 20;
    
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    
    font-family: sans-serif;
}
#eventTitleInupt{
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    
    width: 100%;
    
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px gray;
    
    outline: none;
}
#eventTitleInupt.error{
    border: 2px solid red;
}

#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}

#eventText {
  font-size: 14px;
}
#modalBackDrop {
    width: 100vw;
    height: 100vh;
    
    display: none;
    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
  
    background-color: rgba(0,0,0,0.8);
}
/*Third section end*/
/*MAIN CONTAINER END*/